/bin/

.classpath

.metadata/.lock

.metadata/.log

.metadata/.mylyn/.taskListIndex/

.metadata/.mylyn/.tasks.xml.zip

.metadata/.mylyn/repositories.xml.zip

.metadata/

.project_alt

.settings/

gwt-unitCache/

httpcomponents-client-5.0.3/

src/de/cses/client/bibliography/BibView (Kopie).txt

src/._sync_2c99d83289fb.db

src/._sync_2c99d83289fb.db-shm

src/._sync_2c99d83289fb.db-wal

src/de/cses/client/bibliography/BibView_test.html

src/de/cses/client/depictions/DepictionDataDisplay.java.alt

src/de/cses/client/depictions/DepictionDataDisplay.java.backup

src/de/cses/scripts/screenfull.d.ts

src/.owncloudsync.log

kis.war
