/** Add css rules here for your application. */
@charset "utf-8";

h1 {
	font-size: 24px;
	text-align: center;
	color: blue;
}

h4.data-display {
	border-width: 2px;
	border-radius: 25px;
	border-color: gray;
	width: 90%;
	border-style: solid;
	padding: 10px;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: verdana;
	font-size: 16px;
	background-color: #ffdd99;
}

h5.data-display {
	border-width: 2px;
	border-radius: 25px;
	border-color: gray;
	width: 80%;
	border-style: solid;
	padding: 5px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: verdana;
	font-size: 13px;
	background-color: #ffdd99;
}

p.data-display {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: verdana;
	text-align: justify;
}

p.date {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 9px;
	font-family: verdana;
	text-align: right;
	margin-bottom: 0;
}

div.data-view {
	font-size: 12px;
	background-color: #ffcc66;
	margin: 0
}

table.data-view {
	width: 96%;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: verdana;
}

td.data-view-left {
	background-color: #ffdd99;
	width: 30%;
}

td.data-view-right {
	background-color: #ffdd99;
	width: 70%;
}

html.data-display {
	backround-color: #ffcc66;
}

ul.simple-list {
	list-style-type: none;
	margin: 0;
	margin-left: 3em;
	padding: 0;
}

ul.simple-list>li {
  padding-left: 1em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

ul.simple-list>li::before {
  content: "\2B22  ";
  color: gray; /* or whatever color you prefer */
}

ol.simple-list {
	list-style-type: none;
	list-style-type: decimal!ie; /*IE 7- hack*/
	margin: 0;
	margin-left: 3em;
	padding: 0;
	counter-reset: li-counter;
}

ol.simple-list>li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 0.5em;
	min-height: 3em;
	border-left: 2px solid #CCCCCC;
	font-family: verdana;
	font-size: 12px;
}

ol.simple-list>li:before {
	position: absolute;
	top: 0;
	left: -1em;
	width: 0.8em;
	font-size: 3em;
	line-height: 1;
	font-weight: bold;
	text-align: right;
	color: #464646;
	content: counter(li-counter);
	counter-increment: li-counter;
}

dl.simple-list {
	list-style-type: none;
	margin: 0;
	margin-left: 3em;
	padding: 0;
}

dl.simple-list>dt {
	padding-top: 0.5em;
  padding-left: 1em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

dl.simple-list>dd {
  padding-left: 2em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

