/** Add css rules here for your application. */
@charset "utf-8";

body {
	background-image: url(backgroundKIS.jpg);
	background-size: cover;
}

h1 {
	font-size: 24px;
	text-align: center;
	color: blue;
}

h4.data-display {
	border-width: 2px;
	border-radius: 25px;
	border-color: gray;
	width: 90%;
	border-style: solid;
	padding: 10px;
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: verdana;
	font-size: 16px;
	background-color: #ffdd99;
}

h5.data-display {
	border-width: 2px;
	border-radius: 25px;
	border-color: gray;
	width: 80%;
	border-style: solid;
	padding: 5px;
	margin-left: 30px;
	margin-top: 25px;
	margin-bottom: 15px;
	font-family: verdana;
	font-size: 13px;
	background-color: #ffdd99;
}

div.date {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 9px;
	font-family: verdana;
	text-align: right;
	margin-bottom: 0;
}

div.data-view {
	font-size: 12px;
	background-color: #ffcc66;
	margin: 0
}

div.bib-view {
	font-size: 16px;
	background-color: #ffcc66;
	margin: 0
}

div.label {
	font-size: 10px;
	font-family: verdana;
	margin: 0;
	text-align: left;
	position: absolute;
	bottom: 5px;
}

div.text {
	margin-left: 45px;
	margin-right: 45px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 12px;
	font-family: verdana;
	text-align: justify;
}

div.tooltip {
	font-size: 12px;
	font-family: verdana;
	max-width: 200px;
	height: auto;
}

table.data-view {
	width: 96%;
	border-width: 2px;
	border-color: gray;
	border-style: solid;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: verdana;
}

td.data-view-left {
	background-color: #ffdd99;
	width: 30%;
}

td.data-view-right {
	background-color: #ffdd99;
	width: 70%;
}

table.image-view {
	width: 100%;
	height: 100%;
	border-style: none;
	margin: 0;
	font-size: 10px;
	font-family: verdana;
	text-align: left;
}

td.image-view {
	height: 23px;
}


html.data-display {
	backround-color: #ffcc99;
}

ul.simple-list {
	list-style-type: none;
	margin: 0;
	margin-left: 3em;
	padding: 0;
}

ul.simple-list>li {
  padding-left: 1em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

ul.simple-list>li::before {
  content: "\2B22  ";
  color: gray; /* or whatever color you prefer */
}

ol.simple-list {
	list-style-type: none;
	list-style-type: decimal!ie; /*IE 7- hack*/
	margin: 0;
	margin-left: 3em;
	padding: 0;
	counter-reset: li-counter;
}

ol.simple-list>li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 0.5em;
	min-height: 3em;
	border-left: 2px solid #CCCCCC;
	font-family: verdana;
	font-size: 12px;
}

ol.simple-list>li:before {
	position: absolute;
	top: 0;
	left: -1em;
	width: 0.8em;
	font-size: 1em;
	line-height: 1;
	font-weight: bold;
	text-align: right;
	color: #464646;
	content: counter(li-counter);
	counter-increment: li-counter;
}

dl.simple-list {
	list-style-type: none;
	margin: 0;
	margin-left: 3em;
	padding: 0;
}

dl.simple-list>dt {
	padding-top: 0.5em;
  padding-left: 1em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

dl.simple-list>dd {
  padding-left: 2em; 
  text-indent: -1.2em;
	font-family: verdana;
	font-size: 12px;
}

details.data-display {
	margin-left: 1em;
	padding: 0;
	font-size: 12px;
}

details.abstract {
	margin-left: 1em;
	padding: 0;
	font-size: 12px;
	text-align: justify;
}

button.gwt-Button {
	background-color: #9dc9b8
}

div.frame-header {
	background-color: #9dc9b8;
	height: 20px;
	color: #234534;
	line-height: 20px;
}

div.frame-body {
	background: transparent;
	background-image: none;
}

div.footer {
	background-color: #9dc9b8; 
	color: #234534;
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 10px;
	font-weight: normal;
	opacity: 0.85;
	text-align: right;
	vertical-align: middle;	
}

div.html-display {
	font-family: tahoma,arial,verdana,sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
}

div.transparent {
	opacity: 0.85;
	color: #234534;
}

div.startSearchButton {
	background-image: url(icons/start-search.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.startSearchButtonOver {
	background-image: url(icons/start-search-mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.searchActiveButton {
	background-image: url(icons/start-search-disabled.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.panel {
	resize: both;
	overflow: auto;
}
div.mainFP {
	resize: both;
	overflow: auto;
}

body.panel {
	resize: both;
	overflow: auto;
}
body.mainFP {
	resize: both;
	overflow: auto;
}


div.loginButton {
	background-image: url(icons/login-activ2.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.openseadragon-container {
	min-height: 290px;
	min-width: 340px;
}
div.loginButtonOver {
	background-image: url(icons/login-mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.com-sencha-gxt-theme-base-client-tree-TreeBaseAppearance-TreeBaseStyle-selected {
    background-color: lightblue!important;
}
div.addButton {
	background-image: url(icons/add_new.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.addButtonOver {
	background-image: url(icons/add_new_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.doubleLeftButton {
	background-image: url(icons/doppel_links.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.doubleLeftButtonOver {
	background-image: url(icons/doppel_links_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.removeButton {
	background-image: url(icons/remove.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.removeButtonOver {
	background-image: url(icons/remove_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.resetButton {
	background-image: url(icons/reset_results_icon2.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.resetButtonOver {
	background-image: url(icons/reset_results_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.maximizeButton {
	background-image: url(icons/vergroessern_enlarge.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.maximizeButtonOver {
	background-image: url(icons/vergroessern_enlarge_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.minimizeButton {
	background-image: url(icons/verkleinern_decrease.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.minimizeButtonOver {
	background-image: url(icons/verkleinern_decrease_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.unfoldButton {
	background-image: url(icons/list_unfold.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.unfoldButtonOver {
	background-image: url(icons/list_unfold_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.foldButton {
	background-image: url(icons/list_fold_up.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.foldButtonOver {
	background-image: url(icons/list_fold_up_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.expandButton {
	background-image: url(icons/expand_object.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.expandButtonOver {
	background-image: url(icons/expand_object_mo2.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.favouriteButton {
	background-image: url(icons/favourite_icon.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.favouriteActiveButton {
	background-image: url(icons/favourite_active.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.favouriteButtonOver {
	background-image: url(icons/favourite_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.editButton {
	background-image: url(icons/edit.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.editButtonOver {
	background-image: url(icons/edit_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.leftButton {
	background-image: url(icons/next.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.leftButtonOver {
	background-image: url(icons/next_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.rightButton {
	background-image: url(icons/prev.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.rightButtonOver {
	background-image: url(icons/prev_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
div.saveButton {
	background-image: url(icons/save.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.saveButtonOver {
	background-image: url(icons/save_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.loadButton {
	background-image: url(icons/load.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.loadButtonOver {
	background-image: url(icons/load_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.closeButton {
	background-image: url(icons/close_icon.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.closeButtonOver {
	background-image: url(icons/close_icon_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.expandWindowButton {
	background-image: url(icons/close_window.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.expandWindowButtonOver {
	background-image: url(icons/close_window_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.collapseWindowButton {
	background-image: url(icons/open_window.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.collapseWindowButtonOver {
	background-image: url(icons/open_window_mo.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.bibButton {
	background-image: url(icons/bib.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.bibButtonOver {
	background-image: url(icons/bib_mo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.bibButtonOver2 {
	background-image: url(icons/bib_mo2.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.bibButtonActive {
	background-image: url(icons/bib_active.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.caveButton {
	background-image: url(icons/cave.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.caveButtonOver {
	background-image: url(icons/cave_mo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.caveButtonActive {
	background-image: url(icons/cave_active.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.depictionButton {
	background-image: url(icons/depiction.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.depictionButtonOver {
	background-image: url(icons/depiction_mo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.depictionButtonActive {
	background-image: url(icons/depiction_active.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.imagePoolButton {
	background-image: url(icons/image_pool.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.imagePoolButtonOver {
	background-image: url(icons/image_pool_mo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.imagePoolButtonActive {
	background-image: url(icons/image_pool_active.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.ornamentationButton {
	background-image: url(icons/ornamentation.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.ornamentationButtonOver {
	background-image: url(icons/ornamentation_mo.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.ornamentationButtonActive {
	background-image: url(icons/ornamentation_active.png);
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	cursor: pointer;
}

div.kuchaLogo {
	background-image: url(icons/kucha_logo_homepage.png);
	width: 159px;
	height: 91px;
	background-repeat: no-repeat;
	cursor: pointer;
}

span.freeIconText {
	background-image: url(icons/free_icon2.png);
	width: 25px;
	height: 25px;
	font-size: 20px;
	background-repeat: no-repeat;
	background-position: right;
  padding-left: 30px
}

span.blockedIconText {
	background-image: url(icons/blocked_icon2.png);
	width: 25px;
	height: 25px;
	font-size: 20px;
	background-repeat: no-repeat;
	background-position: right;
  padding-left: 30px
}

span.favouriteIconText {
	background-image: url(icons/favourite_active.png);
	width: 25px;
	height: 25px;
	font-size: 20px;
	background-repeat: no-repeat;
  padding-left: 30px
}

figure.paintRepImgPreview {
	border-style: solid; 
	border-color: #807853; 
	border-width: 3px; 
	border-radius: 10px; 
	margin: 0; 
	padding: 2px; 
	width: 95%'	
}

div.addResult {
	width: 10000;
	cursor: pointer;
	background-position: center;
}
div.addResultOver {
	width: 100%;
	cursor: pointer;
}
