<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee">
   
  <!-- Servlets -->
  <servlet>
    <servlet-name>dbServlet</servlet-name>
    <servlet-class>de.cses.server.DatabaseServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dbServlet</servlet-name>
    <url-pattern>/infosystem/db</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>imgUploader</servlet-name>
  	<servlet-class>de.cses.server.images.ImageServiceImpl</servlet-class>
    <multipart-config>
    	<location>/var/lib/tomcat8/webapps/images</location>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet>
  	<servlet-name>cave3DModelUploader</servlet-name>
  	<servlet-class>de.cses.server.images.Cave3DServiceImpl</servlet-class>
    <multipart-config>
    	<location>/var/lib/tomcat8/webapps/images</location>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>cave3DModelUploader</servlet-name>
    <url-pattern>/cave3DModelUpload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>imgUploader</servlet-name>
    <url-pattern>/imgUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>wallSketchUploader</servlet-name>
  	<servlet-class>de.cses.server.images.WallSketchServiceImpl</servlet-class>
    <multipart-config>
    	<location>/var/lib/tomcat8/webapps/images</location>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet>
  	<servlet-name>caveSketchUploader</servlet-name>
  	<servlet-class>de.cses.server.images.CaveSketchServiceImpl</servlet-class>
    <multipart-config>
    	<location>/var/lib/tomcat8/webapps/images</location>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>caveSketchUploader</servlet-name>
    <url-pattern>/caveSketchUpload</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>wallSketchUploader</servlet-name>
    <url-pattern>/wallSketchUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>bibUploader</servlet-name>
  	<servlet-class>de.cses.server.BibDocumentServiceImpl</servlet-class>
    <multipart-config>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bibUploader</servlet-name>
    <url-pattern>/bibDocumentUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>c14Uploader</servlet-name>
  	<servlet-class>de.cses.server.C14DocumentServiceImpl</servlet-class>
    <multipart-config>
    	<max-file-size>20848820</max-file-size>
    	<max-request-size>418018841</max-request-size>
    	<file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>c14Uploader</servlet-name>
    <url-pattern>/c14DocumentUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  	<servlet-name>resourceServlet</servlet-name>
  		<servlet-class>de.cses.server.ResourceDownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>resourceServlet</servlet-name>
  		<url-pattern>/resource</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  	<servlet-name>jsonServlet</servlet-name>
  		<servlet-class>de.cses.server.JsonServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>jsonServlet</servlet-name>
  		<url-pattern>/json</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  	<servlet-name>bibtexServlet</servlet-name>
  		<servlet-class>de.cses.server.BibTexServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  		<servlet-name>bibtexServlet</servlet-name>
  		<url-pattern>/bibtex</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>KuchaApplication.html</welcome-file>
  </welcome-file-list>

</web-app>
